// COLORS
$color-white: #fff;
$color-black: #000000;
$color-bg: #0f0f0f;
$colot-main: #ff0000;

// FONTS
$primary-font: "Montserrat", sans-serif;
$base-font-size: 16px;
$base-font-color: #fff;

// OFFSET
$mobile-container-padding-x: 16px;
